interactions:
- request:
    body: null
    headers:
      authorization:
      - vRealizeOpsToken 0f0f0f0f-0f0f-0f0f-0f0f-0f0f0f0f0f0f::0f0f0f0f-0f0f-0f0f-0f0f-0f0f0f0f0f0f
      content-type:
      - application/json;charset=UTF-8
    method: GET
    uri: https://demo-trouble.bluemedora.com/suite-api/api/alertdefinitions?adapterKind=CiscoNetworkingAdapter
  response:
    body:
      string: '{"pageInfo":{"totalCount":59,"page":0,"pageSize":1000},"links":[{"href":"/suite-api/api/alertdefinitions?adapterKind=CiscoNetworkingAdapter&amp;page=0&amp;pageSize=1000","rel":"SELF","name":"current"},{"href":"/suite-api/api/alertdefinitions?adapterKind=CiscoNetworkingAdapter&amp;page=0&amp;pageSize=1000","rel":"RELATED","name":"first"},{"href":"/suite-api/api/alertdefinitions?adapterKind=CiscoNetworkingAdapter&amp;page=0&amp;pageSize=1000","rel":"RELATED","name":"last"}],"alertDefinitions":[{"id":"AlertDefinition-CiscoNetworkingAdapter-alert_vsanOperationStateDown_cisco_networking_vsan","name":"Operational
        State: Down","description":"\"Operational State: Down\"","adapterKindKey":"CiscoNetworkingAdapter","resourceKindKey":"cisco_networking_vsan","waitCycles":1,"cancelCycles":1,"type":19,"subType":18,"states":[{"severity":"WARNING","base-symptom-set":{"type":"SYMPTOM_SET","relation":"SELF","aggregation":"ANY","symptomSetOperator":"AND","symptomDefinitionIds":["SymptomDefinition-CiscoNetworkingAdapter-vsanOperationalStateDown"]},"impact":{"impactType":"BADGE","detail":"health"}}]},{"id":"AlertDefinition-CiscoNetworkingAdapter-alert_switchFanStatusUnknown_cisco_networking_switch","name":"Switch
        Fan Status Unknown","description":"\"Switch Fan Status Unknown\"","adapterKindKey":"CiscoNetworkingAdapter","resourceKindKey":"cisco_networking_switch","waitCycles":1,"cancelCycles":1,"type":15,"subType":22,"states":[{"severity":"WARNING","base-symptom-set":{"type":"SYMPTOM_SET","relation":"SELF","aggregation":"ANY","symptomSetOperator":"AND","symptomDefinitionIds":["SymptomDefinition-CiscoNetworkingAdapter-switchFanStatusUnknown"]},"impact":{"impactType":"BADGE","detail":"health"},"recommendationPriorityMap":{"Recommendation-df-CiscoNetworkingAdapter-recommendation-3130351880":1}}]},{"id":"AlertDefinition-CiscoNetworkingAdapter-alert_switchSensorStatusError_cisco_networking_switch","name":"Switch
        Sensor Error","description":"\"Switch Sensor Error\"","adapterKindKey":"CiscoNetworkingAdapter","resourceKindKey":"cisco_networking_switch","waitCycles":1,"cancelCycles":1,"type":15,"subType":22,"states":[{"severity":"WARNING","base-symptom-set":{"type":"SYMPTOM_SET","relation":"SELF","aggregation":[...]
