interactions:
- request:
    body: null
    headers:
      authorization:
      - vRealizeOpsToken 0f0f0f0f-0f0f-0f0f-0f0f-0f0f0f0f0f0f::0f0f0f0f-0f0f-0f0f-0f0f-0f0f0f0f0f0f
    method: GET
    uri: https://demo-trouble.bluemedora.com/suite-api/api/adapterkinds
  response:
    body:
      string: '{"adapter-kind":[{"key":"CiscoNetworkingAdapter","name":"Cisco Networking","adapterKindType":"GENERAL","describeVersion":1,"identifiers":[],"resourceKinds":["cisco_networking_adapter_instance","cisco_networking_hsrp_group","cisco_networking_hsrp_group_member","cisco_networking_l3_interface","cisco_networking_port","cisco_networking_port_relatives_tag","cisco_networking_switch","cisco_networking_switch_relatives_tag","cisco_networking_tag","cisco_networking_vsan","true_visibility_licensing"],"links":[{"href":"/suite-api/api/adapterkinds/CiscoNetworkingAdapter","rel":"SELF","name":"linkToSelf"},{"href":"/suite-api/api/adapterkinds/CiscoNetworkingAdapter/resourcekinds","rel":"RELATED","name":"linkToAllResourceKinds"}]},{"key":"Container","name":"Container","adapterKindType":"GENERAL","describeVersion":34,"identifiers":[],"resourceKinds":["BusinessService","ContainerAdapterInstance","Department","Enterprise","Environment","AIM
        Plugin","Function","GeoTag","Licensing","Location","Security Zone","Service
        Level Objective","Tier","Universe","vC-Ops-[...]
