interactions:
- request:
    body: null
    headers:
      authorization:
      - vRealizeOpsToken 0f0f0f0f-0f0f-0f0f-0f0f-0f0f0f0f0f0f::0f0f0f0f-0f0f-0f0f-0f0f-0f0f0f0f0f0f
      content-type:
      - application/json;charset=UTF-8
    method: GET
    uri: https://demo-trouble.bluemedora.com/suite-api/api/adapters
  response:
    body:
      string: '{"adapterInstancesInfoDto":[{"resourceKey":{"name":"OPENAPI (vRealize
        Operations Manager Collector-vr67-trouble)","adapterKindKey":"OPENAPI","resourceKindKey":"OPENAPI
        Adapter Instance","resourceIdentifiers":[]},"collectorId":1,"monitoringInterval":1,"numberOfMetricsCollected":0,"numberOfResourcesCollected":0,"lastHeartbeat":1534514631912,"lastCollected":1534514595839,"messageFromAdapterInstance":"","links":[{"href":"/suite-api/api/adapters/a3c23232-7b0d-4a58-b83b-486a392e35f4","rel":"SELF","name":"linkToSelf"},{"href":"/suite-api/api/credentials/","rel":"RELATED","name":"linkToCredential"}],"id":"a3c23232-7b0d-4a58-b83b-486a392e35f4"},{"resourceKey":{"name":"vRealizeOpsMgrAPI
        (vRealize Operations Manager Collector-vr67-trouble)","adapterKindKey":"vRealizeOpsMgrAPI","resourceKindKey":"vRealizeOpsMgrAPI
        Adapter Instance","resourceIdentifiers":[]},"collectorId":1,"monitoringInterval":1,"numberOfMetricsCollected":56,"numberOfResourcesCollected":1,"lastHeartbeat":1534514631912,"lastCollected":1534514595845,"messageFromAdapterInstance":"","links":[{"href":"/suite-api/api/adapters/2ab9a813-c6bd-446a-8550-cee1310f347f","rel":"SELF","name":"linkToSelf"},{"href":"/suite-api/api/credentials/","rel":"RELATED","name":"linkToCredential"}],"id":"2ab9a813-c6bd-446a-8550-cee1310f347f"},{"resourceKey":{"name":"mssql-sa-1","adapterKindKey":"SqlServerAdapter","resourceKindKey":"SqlServerAdapterInstance","resourceIdentifiers":[{"identifierType":{"name":"active_query_count","dataType":"STRING","isPartOfUniqueness":false},"value":"20"},{"identifierType":{"name":"active_wait_time_count","dataType":"STRING","isPartOfUniqueness":false},"value":"10"},{"identifierType":{"name":"connection_pool_size","dataType":"STRING","isPartOfUniqueness":false},"value":"2"},{"identifierType":{"name":"exclude_events","dataType":"STRING","isPartOfUniqueness":false},"value":"False"},{"identifierType":{"name":"exclude_log_based_events","dataType":"STRING","isPartOfUniqueness":false},"value":"False"},{"identifierType":{"name":"host","dataType":"[...]
