interactions:
- request:
    body: null
    headers:
      authorization:
      - vRealizeOpsToken 0f0f0f0f-0f0f-0f0f-0f0f-0f0f0f0f0f0f::0f0f0f0f-0f0f-0f0f-0f0f-0f0f0f0f0f0f
      content-type:
      - application/json;charset=UTF-8
    method: GET
    uri: https://demo-trouble.bluemedora.com/suite-api/api/solutions
  response:
    body:
      string: '{"solution":[{"id":"MPforvRBC","name":"VMware vRealize Business for
        Cloud","version":"6.0.7962514","description":"Management Pack for VMware vRealize
        Business for Cloud which defines the Launch-in-context rules for vSphere objects.","vendor":"VMware
        Inc.","adapterKindKeys":["vRBCAdapter"]},{"id":"CiscoNetworking","name":"Cisco
        Networking","version":"2.2.0.20180423.200938","description":"Monitors Cisco
        Networking Switches remotely.","vendor":"Blue Medora","adapterKindKeys":["CiscoNetworkingAdapter"]},{"id":"AppOSUCPAdapter","name":"VMware
        vRealize Application Management Pack","version":"1.0.8183626","description":"Enables
        discovery and management of applications through VMware Application Proxy.","vendor":"VMware
        Inc.","adapt[...]
